@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section#conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}

img.logo {
    width: 80px;
    padding: 10px 8px 8px 10px;
    border-bottom:  1px solid black;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    margin: 80px 160px 0px 0px;
    background-color: antiquewhite;
   
    
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 144px;
    width: 50px;
    height: 635px;
    padding-right: 80px;
    background-color: aquamarine;
}

nav > a {
    margin: 12px 8px 8px 27px;
}

nav > a:hover {
    background-color: white;
    color: red;
}


div.primeiradiv {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7em;
    background-color: aqua;
    width: 600px;


    background-image: url('../imagens/imagemprincipal.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 550px;
    background-position-x: -150px;
}

div.primeiradiv section {
    margin-left: 280px;
    font-size: 1.8em;
}

img.img_primeira_div {
    width: 300px;
    height: 400px;

}

div.segundadiv {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    width: 450px;
    flex-wrap: wrap;
}


img.img_segunda_div {
    width: 150px;
}

.h1 {
    width: 1000px;
}

                        /* parte de baixo */

div.debaixo{
    background-color: bisque;

}

img.img_terceiradiv {
    width: 80px;
}

img.img_quartadiv {
    width: 100px;
}

img.img_quintadiv {
    width: 140px;
}

img.img_sextadiv {
    width: 140px;
}

footer {
    width: 1232px;
    padding: 20px;
    background-color: blue;
    margin: auto;
    margin-bottom: 20px;
}
