@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img.logo {
    width: 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main > nav {
    display: grid;
    grid-template-columns: 1fr;
}

main > div {
    display: flex;
    
    background-color: aqua;
    width: 500px;
}
